body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  background-color: #88D0EC;
  color: white;
}

h1 {
  font-family: 'Lobster', cursive;
  color: white;
  text-align: center;
}

input[type=text], [type=date] {
    border: none;
    border-bottom: .2em solid red;
    background-color: #88D0EC;
    font-family: 'Fjalla One', sans-serif;
}

input[type=text]:focus, [type=date]:focus  {
    border: .2em solid red;
    outline: none;
}

label {
  margin: .1em;
}


.button {
  display: inline-block;
  border-radius: .6em;
  background-color: #84adc3;
  border: none;
  color: white;
  text-align: center;
  font-size: .8em;
  padding-bottom, padding-top: 1.3em;
  width: 7em;
  height: 2em;
  margin: .8em;
  box-shadow: 0 .5em 1.8em 0 rgba(0,0,0,0.2), 0 .8em 2em 0 rgba(0,0,0,0.19);
}

.result-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  display: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 1em;
  margin-right: .3em;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}
